@-webkit-keyframes shan_out{
    0% {
        -webkit-transform: scale(0.7);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2);
        opacity: 0.2;
    }
}
.border1{
    opacity: 0;
    -webkit-animation: 1.6s shan_out linear 0s infinite;
}
.border2{
    opacity: 0;
    -webkit-animation: 1.6s shan_out linear 0.8s infinite;
}
