body {
  margin:0;
  overflow:hidden;
  color:rgba(255,255,255,.8);
  font-family:arial;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000;
}

canvas {
  background: #082849;
}

.instructions {
  position: fixed;
  top:5px;
  left:5px;  
}